@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */




/* Globally apply the font */
body, h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Roc Grotesk', sans-serif;
}

.banner-image{
  background-image: url("../assets/business-scene-with-nature 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 800px;
  width: 100%;
  background-position: center;

}

.banner-image-small{
  background-image: url("../assets/own-bussines.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 450px;
  width: 100%;
  background-position: center;
  /* opacity: .2; */

}

